.remark-slide-content:not(.title-slide){
  background-image: url("https://d33wubrfki0l68.cloudfront.net/295643c6243701ae6a9bac3fb8ad467ff0ce3c84/d1785/img/logo/cursor1-41.png");
  background-position: 5% 97%;
  background-size: 160px;
  padding-left: 100px;
}

.remark-slide-number{
  top: 92%;
  bottom: inherit;
}

.title-slide{
  background-image: url("../img/trio-sticker.png");
  background-position: 53% 98%;
  background-size: 330px;
  padding-left: 100px;
}

body{
font-family: 'Futura Serif', Palatino, serif;
}